<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="!scroll">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar mode="ios"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-item-group *ngFor="let item of data">
    <ion-item-divider sticky>
      <ion-label>{{item.key}}</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let user of item.users">
      <ion-label><b>{{user.first_name}}</b> {{user.last_name}}</ion-label>
    </ion-item>
  </ion-item-group>

  <app-alphabet-scroll (letterSelected)="scrollToLetter($event)" (scrollingLetter)="letterScrollActive($event)"></app-alphabet-scroll>
</ion-content>
